
body {
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sidebar {
  position: fixed;
  top: 15px; /* Height of the fixed navbar */
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 240px;
  padding: 48px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  overflow-y: auto; 
  
}


.main {
  padding: 30px;
  padding-top: 70px;
  margin-left: 240px; /* Adjust this margin to match sidebar width */
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 15px; /* Height of the fixed navbar */
    bottom: 0;
    left: -240px;
    z-index: 100;
    width: 240px;
    padding: 40px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    transition: left 0.3s;
  }

  .sidebar.active {
    left: 0;
  }

  .main {
    margin-left: 0;
  }

  /* Adjust the styles of the collapsed sidebar in the mobile menu */
  .navbar-collapse.collapsing .sidebar {
    position: static;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 0;
    box-shadow: none;
  }
  .navbar-toggler {
padding: 0.55rem 0.8rem;
font-size: 1.25rem;
line-height: 1;
background-color: transparent;
border: 1px solid transparent;
border-radius: 0.25rem;
  }
  .navbar-toggler-icon {
display: inline-block;
width: 1.5em;
height: 1.5em;
vertical-align: middle;
content: "";
background: no-repeat center center;
background-size: 100% 100%;
  }
}

